/*overall*/
.card {
    justify-content: center;
    background: none;
    border: none;
    height: 700px;
    align-items: center !important;
    transition: 1s;
}

/*card text*/
.rightText {
    max-width: 400px;
    margin-right: 0vw;
    margin-left: 50vw;
    text-align: center;
    transition: 1s;
}
.leftText {
    max-width: 400px;
    margin-right: 50vw;
    margin-left: 0vw;
    text-align: center;
    transition: 1s;
}
h2 {
    font-size: 32pt;
    transition: 1s;
}
@media screen and (max-height: 414px) {
    .card {
        height: 400px;
    }
}
@media screen and (max-width: 690px) and (orientation: portrait)  {
    h2 {
        font-size: 24pt;
    }
    .card p {
        font-size: 10pt;
    }
}
@media screen and (max-width: 530px) {
    h2 {
        font-size: 14pt;
    }
    .card p {
        font-size: 8pt;
    }
}

/*card images*/
#leftImg {
    position: absolute;
    object-fit: cover;
    max-width: 40%;
    height: 100%;
    left: 0;
    box-shadow: 5px 30px 50px 10px;
    transition: 1s;
}
#rightImg {
    position: absolute;
    object-fit: cover;
    max-width: 40%;
    height: 100%;
    right: 0;
    box-shadow: -5px 30px 50px 10px;
    transition: 1s;
}
