h2 {    
    font-size: 5vh;
    padding-top: 10vh;
}

p {
    font-size: 2.5vh;
    padding: 2%;
}

.icon {
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    width: 35vh;
    height: 35vh;
    padding: 1%;
    box-shadow: -10px 10px 80px 10px rgba(22, 247, 255, 0.3); 
}

.card {
    background: none;
    border: none;
    height: 500px;
}

@media screen and (max-width: 360px) {
    .icon {
        position: relative;
        width: 100%;
        height: 50%;
        left: 1%;
    }
    .card {
        height: 650px;
        padding: 0% !important;
    }
}

@media screen and (min-width: 361px) and (max-width: 376px) {
    .icon {
        position: relative;
        width: 100%;
        height: 50%;
        left: 1%;
    }
    .card {
        height: 650px;
        padding: 0% !important;
    }
}

@media screen and (min-width: 376px) and (max-width: 415px) {
    .icon {
        position: relative;
        width: 100%;
        height: 50%;
        left: 1%;
    }
    .card {
        height: 700px;
        padding: 0% !important;
    }
}

@media screen and (min-width: 415px) and (max-width: 600px) {
    .icon {
        position: relative;
        width: 100%;
        height: 55%;
        left: 1%;
    }
    .card {
        height: 620px;
        padding: 0% !important;
    }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
    h2 {
        font-size: 16pt;
    }
    p {
        font-size: 10pt !important;
    }
    .icon {
        position: relative;
        left: 0%;
        right: 0%;
        width: 60vh !important;
        height: 60vh !important;
    }
    .card {
        align-items: center;
        text-align: center;
        height: 400px !important;
        padding: 5% !important;
        padding-top: 0 !important;
    }
}

@media screen and (min-width: 767px) and (max-width: 769px) {
    h2 {
        font-size: 28pt;
    }
    p {
        font-size: 14pt;
    }
    .icon {
        position: relative;
        left: 25%;
    }
    .card {
        text-align: center;
        height: 680px;
        padding: 5% !important;
        padding-top: 0 !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 801px) {
    h2 {
        font-size: 28pt;
    }
    p {
        font-size: 14pt;
    }
    .icon {
        position: relative;
        left: 20%;
    }
    .card {
        text-align: center;
        height: 800px;
        padding: 5% !important;
        padding-top: 0 !important;
    }
}

@media screen and (min-width: 801px) and (max-width: 812px) {
    h2 {
        padding-top: 5vh !important;
    }
    p {
        font-size: 8pt;
        padding: 0% !important;
    }
    .icon {
        width: 30vh;
        height: 30vh;
    }
    .card {
        height: 140px;
    }
}

@media screen and (min-width: 812px) and (max-width: 847px) {
    h2 {
        padding-top: 5vh !important;
    }
    p {
        font-size: 8pt;
        padding: 0% !important;
    }
    .icon {
        width: 30vh;
        height: 30vh;
    }
    .card {
        height: 140px;
    }
}

@media screen and (min-width: 847px) and (max-width: 897px) {
    h2 {
        padding-top: 5vh !important;
    }
    p {
        font-size: 10pt;
        padding: 0% !important;
    }
    .icon {
        width: 35vh;
        height: 35vh;
    }
    .card {
        height: 160px;
    }
}

@media screen and (min-width: 897px) and (max-width: 950px) {
    h2 {
        font-size: 28pt;
    }
    p {
        font-size: 14pt;
    }
    .icon {
        position: relative;
        left: 24%;
    }
    .card {
        text-align: center;
        height: 800px;
        padding: 5% !important;
        padding-top: 0 !important;
    }
}

@media screen and (min-width: 951px) and (max-width: 1025px) {
    h2 {
        padding-top: 5vh !important;
    }
    p {
        font-size: 12pt;
    }
    .icon {
        width: 30vh;
        height: 30vh;
        padding: 1% !important;
    }
    .card {
        height: 250px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    h2 {
        padding-top: 5vh !important;
    }
    p {
        font-size: 12pt;
    }
    .icon {
        width: 30vh;
        height: 30vh;
        padding: 1% !important;
    }
    .card {
        height: 290px;
    }
}