/*Overall Frame*/
.overall {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: monospace;
}
h1 {
    font-size: 36pt;
    padding: 50px 100px;
    transition: 1s;
}
p {
    font-size: 12pt;
    text-align: justify;
    transition: 1s;
}
@media screen and (max-height: 414px) {
    h1 {
        font-size: 32pt;
        padding: 50px 5vw;
    }
}
@media screen and (max-width: 767px) {
    h1 {
        font-size: 32pt;
        padding: 50px 10vw;
    }
}
@media screen and (max-width: 450px) {
    h1 {
        font-size: 20pt;
    }
}

/*Banner*/
.Banner {
    background-image: url('./assets/images/spread2-min.jpg');
    background-size: 105vw;
    background-repeat: no-repeat;
    height: 80vh;
    background-attachment: fixed;
    /* transition: 1s; */
}
@media screen and (max-height: 414px) {
    .Banner {
        height: 60vh;
    }
}
@media screen and (max-width: 835px) {
    .Banner {
        background-size: 150vw;
    }
}
@media screen and (max-width: 580px) {
    .Banner {
        background-size: 200vw;
    }
}
@media screen and (max-width: 435px) {
    .Banner {
        background-size: 300vw;
    }
}

/*Intro Section*/
.IntroFrame {
    background: rgba(255, 255, 240, 0.93);
    height: 100vh;
    position: relative;
    border-top: solid;
    border-width: 10px;
    border-color: turquoise;
    overflow: hidden;
    transition: 1s;
}
.IntroText {
    max-width: 560px;
    margin: 100px 100px 150px 100px;
    transition: 1s;
}
#perth {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 100%;
    opacity: 0.3;
    filter: blur(4px);
    -webkit-user-select: none;
    transition: 1s;
}
@media screen and (max-height: 414px) {
    .IntroText {
        margin: 20px 10vw 50px 10vw;
    }
    .IntroFrame {
        height: min-content;
    }
}
@media screen and (max-width: 1250px) {
    #perth {
        left: -20%;
    }
}
@media screen and (max-width: 680px) {
    #perth {
        left: -80%;
    }
    .IntroText {
        margin: 20px 10vw 50px 10vw;
    }
    .IntroFrame {
        height: min-content;
    }
}
@media screen and (max-width: 510px) {
    #perth {
        left: -150%;
    }
}
@media screen and (max-width: 415px) {
    #perth {
        left: -200%;
    }
}
@media screen and (max-width: 370px) {
    #perth {
        left: -250%;
    }
}
@media screen and (max-width: 350px) {
    #perth {
        left: -300%;
    }
}

/*Event Cards*/
.events {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(231, 232, 223, 1), rgba(0, 225, 255, 0.15));
    border-top: solid;
    border-width: 10px;
    border-color: turquoise;
    overflow: hidden;
    transition: 1s;
}

/*Contact Page*/
.contact {
    padding-top: 5%;
    padding-bottom: 5%;
    background: linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 0.8)),url('./assets/images/spread1-min.jpg');
    background-size: cover;
    background-attachment: fixed;
    border-top: solid;
    border-width: 10px;
    border-color: turquoise;
    transition: 1s;
}
h3 {
    font-size: 8pt;
    padding-bottom: 2%;
    transition: 1s;
}





